.taskListMain .header input {
	padding: 10px;
	font-size: 16px;
	border: 2px solid #fff;
	width: 165px;
	border-radius: 5px 0 0 5px;
}

.taskListMain .header button {
	padding: 10px;
	font-size: 16px;
	margin: 10px;
	margin-right: 0;
	background-color: #3e9af7;
	color: #fff;
	border: 2px solid #3e9af7;
	border-radius: 0 5px 5px 0;
}

.taskListMain .header button:hover {
	background-color: #003399;
	border: 2px solid #003399;
	color: #fff;
	cursor: pointer;
	padding: 10px;
}

.taskListMain .list {
	list-style: none;
	padding-left: 0;
	width: 250px;
}

.taskListMain .list li {
	color: #333;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 5px;

	transition: background-color .2s ease-out;
}

.taskListMain .list li:hover {
	background-color: #ec7a5a;
	cursor: pointer;
}